# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Learning Python
- Using R language
- Learn about Hadoop and )

Some of the popular languages that Data Scientists use are:1. Python
2. R
3. Julia
.

Some of the commonly used libraries used by Data Scientists include:1. NumPy
2. Pandas
3. TensorFlow (

Create a single column table in this cell with the first row containing the header Data Science Tools. The subsequent three rows in the table should indicate three development environment open source tools used in data science.

| Data Science Tools |
----------------------
|Jupyter |
|Hadoop  |
|Spark   |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [6]:
h=200//60
print(h)

3